<!DOCTYPE HTML>
<html>
<head>
	<title>Nav</title>
	<style>

</style>
</head>

<header class="navbar">
  <div class="nav-top">
    <div class="logo"><a href="/">SQL</a> </div>
    <div class="search-box">
      <input type="text" placeholder="Wyszukaj produkty...">
      <span class="search-icon">🔍</span>
    </div>
    <div class="nav-icons">
      <span class="icon" (click)="navigateTo('account')">👤</span>
      <span class="icon cart" (click)="navigateTo('cart')">
    🛒
  </span>
    </div>
  </div>
  <nav class="nav-links">
    <a href="#">Elektronika</a>
    <a href="#">Ogród</a>
    <a href="#">Dom</a>
    <a href="#">Moda</a>
    <a href="#">Sport</a>
    <a href="#">Książki</a>
  </nav>
</header>
</html>
