<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Koszyk</title>
</head>
<body>
  <div class="cart-container">
    <h2>Koszyk</h2>


    <app-cart-item></app-cart-item>
    <app-cart-item></app-cart-item>
    <app-cart-item></app-cart-item>

    <div class="summary">
      <p>Subtotal <span>$329.97</span></p>
      <p>Shipping <span>$10.00</span></p>
      <p class="total">Total <span>$339.97</span></p>
    </div>

    <div class="actions">
      <button routerLink="/" class="continue">← Kontynuuj Zakupy</button>
      <button routerLink="/order-details" class="checkout">Dostawa i Płatność →</button>
    </div>
  </div>
</body>
</html>
