
form{
   
    display: block flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--white);
    box-sizing: border-box;
    padding: 50px;
}

input[type=submit]{
    background-color: var(--darkblue);
    border: none;
    height: 40px;
    width: 100%;
    border-radius: 8px;
    color: var(--white);
    margin-top: 10px;
    font-size: 20px;
}

input[type=text]{
    border-radius:8px;
    font-size: 20px;
    border: 2px solid var(--graywhite);
}

input[type=password]{
    border-radius:8px;
    font-size: 20px;
    border: 2px solid var(--graywhite);
}

#remember_label{
    color: #ADAEBC;
}


input[type=email]{
    border-radius:8px;
    font-size: 20px;
    border: 2px solid var(--graywhite);
}


button{
    background-color: var(--magenta-full);
    border: none;
    height: 40px;
    margin-top: 10px;
    font-size: 20px;
    width: 200px;
    border-radius: 8px;
    color: var(--white);
    width: 100%;
}

h2{
    display: block;
    width: 100%;
    padding:-25px;
    align-self: flex-start;
    font-family: inter;
    
}