

<form action="#" method="post">
    <h2>Zarejestruj się</h2>
    <label > <input type="text" name="imie" id="imie" placeholder="Imie"> </label> <br>
    <label > <input type="text" name="nazwisko" id="nazwisko" placeholder="Nazwisko"> </label> <br>
    <label > <input type="email" name="email" id="email" placeholder="E-mail"> </label> <br>
    <label > <input type="text" name="nazwa" id="nazwa" placeholder="Nazwa"> </label> <br>
    <label> <input type="password" name="password" id="password" placeholder="Hasło"> </label> <br> 
    <label> <input type="password" name="rep_password" id="rep_password" placeholder="Powtórz hasło"> </label> <br> 
        <input type="submit" value="Zaloguj się">
        <button>Zarejestruj się!</button>


</form>


