<div class="cart-item">
  <div class="item-details">
    <strong>{{ cartItem.product_name }}</strong>
    <p>{{ cartItem.product_description }}</p>
    <div class="quantity">
      <button (click)="onQuantityChange(-1)">-</button>
      <span>Ilość: {{ cartItem.quantity }}</span>
      <button (click)="onQuantityChange(1)">+</button>
    </div>
  </div>
  <div class="price">{{ currencyService.formatPrice(cartItem.product_price * cartItem.quantity) }}</div>
  <button class="delete" (click)="onRemove()">🗑️</button>
</div>
