<footer>
    <div class="footer_lists">
        <ul>
            <h3>SQL</h3>
            <li>Style-Quality-Lounge</li>    
        </ul>
        <ul>
            <h4>Kategorie</h4>
            <li> Elektornika</li>
            <li>Ogród</li>
            <li>Dom</li>
            <li>Moda</li>    
        </ul>
        <ul>
            <h4>Informacje</h4>
            <li>Elektornika</li>
            <li>Ogród</li>
            <li>Dom</li>
            <li>Moda</li>    
        </ul>
        <div class="newsletter">
            <h4>Najnowsze Produkty</h4>
            <p>Newsletter</p>
            <input type="email" placeholder="Twój email">
        </div>
       
    </div>
    <hr>
    <div class="cr">
        <p>© 2025 Style-Quality-Lounge. Wszystkie prawa zastrzeżone.</p>
    </div>
</footer>